/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-section {
  margin: 30px 0;
}

.header-text {
  font-size: 2rem;
}

.board-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* added below */
  width: 100%;
  max-width: 1200px;
}

.left-section,
.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.player1-title,
.player2-title {
  font-size: 1rem;
  width: 320px;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
}

.player1-title {
  background-color: #e91f47;
}

.player2-title {
  background-color: #777993;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 2px;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: lightblue;
  border-radius: 5px;
  background-position: center;
}

.cell:not(.clicked):hover {
  background-color: #dddddd;
}

.ship {
  background-color: gray;
}

.hit {
  background-image: url("./assets/images/hit.svg") !important;
}

.miss {
  background-image: url("./assets/images/miss.svg") !important;
}

.divider {
  background-color: #c3bfbf;
  height: 1px;
}

.ship-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 0;
  gap: 10px;
  width: 100%;
}

.flip-ships-button,
.start-button {
  padding: 10px 30px;
  width: 150px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.flip-ships-button {
  background-color: orange;
}

.start-button {
  background-color: grey;
}

.ships {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ships.horizontal {
  flex-direction: column;
  gap: 20px;
}

.ships.vertical {
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  margin: 80px 0;
}

.ship-marker-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.ship-marker {
  cursor: grab;
  transition: transform 0.3s;
  margin: 0;
  height: 30px;
}

.carrier {
  width: calc(5 * 30px);
}

.battleship {
  width: calc(4 * 30px);
}

.cruiser,
.submarine {
  width: calc(3 * 30px);
}

.destroyer {
  width: calc(2 * 30px);
}

.placed {
  opacity: 0.5;
  cursor: not-allowed;
}

@media screen and (min-width: 768px) {
  .header-text {
    font-size: 2.5rem;
  }

  .board-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .left-section,
  .right-section {
    width: 50%;
  }

  .divider {
    height: auto;
    width: 1px;
  }
}

@media screen and (min-width: 1024px) {
  .header-text {
    font-size: 3rem;
  }

  .player1-title,
  .player2-title {
    font-size: 1.2rem;
    width: 418px;
  }

  .board {
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
  }

  .cell {
    width: 40px;
    height: 40px;
  }

  .flip-ships-button,
  .start-button {
    padding: 15px 30px;
    width: 200px;
    font-size: 1.2rem;
  }

  .ship-marker {
    height: 40px;
  }

  .ships.vertical {
    margin: 100px 0;
  }

  .carrier {
    width: calc(5 * 40px);
  }

  .battleship {
    width: calc(4 * 40px);
  }

  .cruiser,
  .submarine {
    width: calc(3 * 40px);
  }

  .destroyer {
    width: calc(2 * 40px);
  }
}

@media screen and (min-width: 1440px) {
  .header-text {
    font-size: 4rem;
  }

  .player1-title,
  .player2-title {
    font-size: 1.5rem;
    width: 518px;
  }

  .board {
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
  }

  .cell {
    width: 50px;
    height: 50px;
  }

  .flip-ships-button,
  .start-button {
    padding: 20px 30px;
  }

  .ship-marker {
    height: 50px;
  }

  .ships.vertical {
    margin: 120px 0;
  }

  .carrier {
    width: calc(5 * 50px);
  }

  .battleship {
    width: calc(4 * 50px);
  }

  .cruiser,
  .submarine {
    width: calc(3 * 50px);
  }

  .destroyer {
    width: calc(2 * 50px);
  }
}
