/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --default-background-color: #ffffff;
  --main-font-family: "Bebas Neue", sans-serif;
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --player-1-background-color: #e91f47;
  --player-2-background-color: #777993;
  --cell-background-color: #b1def6;
  --cell-background-color-hover: #dddddd;
  --cell-ship-background-color: #bfbcc8;
  --board-divider: #c3bfbf;
  --flip-ships-button-background-color: #ffa500;
  --flip-ships-button-background-color-hover: #e69500;
  --start-game-button-background-color: #9293a0;
  --start-game-button-background-color-hover: #7d7e8b;
  --restart-game-button-background-color: #4caf50;
  --restart-game-button-background-color-hover: #45a049;
}

html {
  font-family: var(--main-font-family);
  font-size: 16px;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-section {
  margin: 30px 0;
}

.header-text {
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.board-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 1200px;
}

.left-section,
.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.player1-title,
.player2-title {
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: var(--secondary-text-color);
  width: 320px;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
}

.player1-title {
  background-color: var(--player-1-background-color);
}

.player2-title {
  background-color: var(--player-2-background-color);
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 2px;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: var(--cell-background-color);
  border-radius: 5px;
  background-position: center;
}

#player2-board .cell:not(.clicked):hover {
  background-color: var(--cell-background-color-hover);
  cursor: pointer;
}

.ship {
  background-color: var(--cell-ship-background-color);
}

.hit {
  background-image: url("./assets/images/hit.svg") !important;
}

.miss {
  background-image: url("./assets/images/miss.svg") !important;
}

.divider {
  background-color: var(--board-divider);
  height: 1px;
}

.ship-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 0;
  gap: 10px;
  width: 100%;
}

.flip-ships-button,
.start-button {
  padding: 10px 30px;
  width: 150px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: var(--main-font-family);
  font-size: 1rem;
  letter-spacing: 2px;
  transition: background-color 0.3s, color 0.3s;
}

.flip-ships-button {
  background-color: var(--flip-ships-button-background-color);
}

.flip-ships-button:hover {
  background-color: var(--flip-ships-button-background-color-hover);
  color: var(--secondary-text-color);
}

.start-button {
  background-color: var(--start-game-button-background-color);
}

.start-button:hover {
  background-color: var(--start-game-button-background-color-hover);
  color: var(--secondary-text-color);
}

.ships {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 5px;
}

.ships.horizontal {
  flex-direction: column;
  gap: 20px;
}

.ships.vertical {
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  margin: 80px 0;
}

.ship-marker-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.ship-marker {
  cursor: grab;
  transition: transform 0.3s;
  margin: 0;
  height: 30px;
}

.carrier {
  width: calc(5 * 30px);
}

.battleship {
  width: calc(4 * 30px);
}

.cruiser,
.submarine {
  width: calc(3 * 30px);
}

.destroyer {
  width: calc(2 * 30px);
}

.placed {
  opacity: 0.5;
  cursor: not-allowed;
}

.game-over-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}

.game-over-message {
  font-size: 2rem;
}

.restart-button {
  margin-top: 20px;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  background-color: var(--restart-game-button-background-color);
  color: var(--secondary-text-color);
  font-family: var(--main-font-family);
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 2px;
  transition: background-color 0.3s, color 0.3s;
}

.restart-button:hover {
  background-color: var(--restart-game-button-background-color-hover);
}

@media screen and (min-width: 768px) {
  .header-text {
    font-size: 3rem;
  }

  .board-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .left-section,
  .right-section {
    width: 50%;
  }

  .divider {
    height: auto;
    width: 1px;
  }

  .game-over-message {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .header-text {
    font-size: 3.5rem;
  }

  .player1-title,
  .player2-title {
    font-size: 1.5rem;
    width: 418px;
  }

  .board {
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
  }

  .cell {
    width: 40px;
    height: 40px;
  }

  .flip-ships-button,
  .start-button {
    padding: 15px 30px;
    width: 200px;
    font-size: 1.2rem;
  }

  .restart-button {
    font-size: 1.2rem;
  }

  .ship-marker {
    height: 40px;
  }

  .ships.vertical {
    margin: 100px 0;
  }

  .carrier {
    width: calc(5 * 40px);
  }

  .battleship {
    width: calc(4 * 40px);
  }

  .cruiser,
  .submarine {
    width: calc(3 * 40px);
  }

  .destroyer {
    width: calc(2 * 40px);
  }
}

@media screen and (min-width: 1440px) {
  .header-text {
    font-size: 5rem;
  }

  .player1-title,
  .player2-title {
    font-size: 2rem;
    width: 518px;
  }

  .board {
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
  }

  .cell {
    width: 50px;
    height: 50px;
  }

  .flip-ships-button,
  .start-button,
  .restart-button {
    padding: 20px 30px;
    font-size: 1.5rem;
  }

  .ship-marker {
    height: 50px;
  }

  .ships.vertical {
    margin: 120px 0;
  }

  .carrier {
    width: calc(5 * 50px);
  }

  .battleship {
    width: calc(4 * 50px);
  }

  .cruiser,
  .submarine {
    width: calc(3 * 50px);
  }

  .destroyer {
    width: calc(2 * 50px);
  }
}
